[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
install_search_all_sources = true

[packages]
# Builder/Parsers
sphinx = ">=4.0,!=5.0.0"
myst-parser = "*"
sphinx-autobuild = "*"
rst2pdf = "*"
# Markup Extension
sphinx-tabs = "*"
sphinx-toolbox = "*"
sphinx-substitution-extensions = "*"
sphinxcontrib-exceltable = "*"
sphinx-design = "*"
# Diagramming tool extensions
"sphinxcontrib.drawio" = "*"
"sphinxcontrib.plantuml" = "*"
# sphinxcontrib-kroki = "*"
# Themes
cloud-sptheme = "*"
sphinx-book-theme = "*"
piccolo-theme = "*"

#useful package
svglib = "*"
colorama = "*"

[dev-packages]
